@charset "UTF-8";
@font-face {
  font-family: "Quicksand";
  src: url("./../font/quicksand/quicksand-v31-latin-500.woff2") format("woff2"), url("./../font/quicksand/quicksand-v31-latin-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
#page {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 35px;
}
#page span {
  color: white;
  font-weight: lighter;
  font-size: 25px;
  text-shadow: none;
}

.dash {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  width: 80%;
  min-height: max-content;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1cm;
  padding: 0.5cm;
}

.dash::-webkit-scrollbar {
  width: 8px; /* Ajuste la largeur pour un look plus fin */
  background-color: rgba(255, 255, 255, 0); /* Couleur du fond de la barre */
  border-radius: 10px; /* Arrondi les bords */
  height: 10px;
}

.dash::-webkit-scrollbar-thumb {
  background: #357ABD; /* Couleur au survol */
  border-radius: 10px; /* Effet arrondi */
}

.dash::-webkit-scrollbar-thumb:hover {
  background: #ffd500; /* Couleur de la barre de défilement */
}

.card {
  display: flex;
  padding: 0.25cm;
  border-radius: 10px;
  min-width: 300px;
  max-width: 300px;
  min-height: 150px;
  max-height: 150px;
  background-color: #15c8ff;
  box-shadow: 1px 2px 4px rgb(87, 87, 87);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.card h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: #00113D;
  width: 100%;
  border-bottom: #00113D 1px solid;
  margin: 0;
}
.card p {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: xx-large;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart {
  border: none;
  width: 80%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25cm;
  justify-content: space-around;
}
.chart canvas {
  width: 40% !important;
  height: auto !important;
  background-color: white;
  border-radius: 20px;
  padding: 0.25cm;
}

.classement {
  width: 80%;
  min-height: max-content;
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
.classement table {
  margin-bottom: 0.25cm;
  border-radius: 10px;
  padding: 0.25cm;
  width: 100%;
  min-width: 900px;
  border-collapse: separate !important;
  border-spacing: 0 20px;
  border: none !important;
  color: white;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.classement table thead {
  margin-bottom: 1cm;
  height: 1.5cm;
}
.classement table thead tr {
  border-radius: 10px !important;
  background-color: #357ABD;
  padding-inline-end: 0.25cm;
}
.classement table tbody tr {
  width: 100%;
  color: #00113D;
  border: none !important;
  background-color: rgb(255, 255, 255);
  height: 4cm;
}
.classement table tbody td {
  width: 200px !important;
  align-items: center;
  height: 100%;
}
.classement table tbody td canvas {
  align-self: center !important;
  width: 200px;
  height: 100%;
}
.classement table tbody tr td {
  border-left: 3px #00113D solid;
}
.classement table tbody tr td:first-child {
  border-left: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.classement table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.classement::-webkit-scrollbar {
  width: 8px; /* Ajuste la largeur pour un look plus fin */
  background-color: rgba(255, 255, 255, 0); /* Couleur du fond de la barre */
  border-radius: 10px; /* Arrondi les bords */
  height: 10px;
}

.classement::-webkit-scrollbar-thumb {
  background: #357ABD; /* Couleur au survol */
  border-radius: 10px; /* Effet arrondi */
}

.classement::-webkit-scrollbar-thumb:hover {
  background: #ffd500; /* Couleur de la barre de défilement */
}

@media screen and (max-width: 450px) {
  #page {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: medium;
  }
  #page span {
    color: white;
    font-weight: lighter;
    font-size: smaller;
    text-shadow: none;
  }
  .dash {
    width: 100%;
    height: auto;
    gap: 0.25cm;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    max-width: 40%;
    min-width: 40%;
    max-height: min-content;
    border-radius: 10px;
    min-height: 75px;
    background-color: #15c8ff;
    box-shadow: 1px 2px 4px rgb(87, 87, 87);
    flex-direction: column;
  }
  .card h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    color: #00113D;
    width: 100%;
    border-bottom: #00113D 1px solid;
  }
  .card p {
    font-family: "Quicksand", sans-serif;
    font-size: large;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .chart {
    border: none;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25cm;
    justify-content: top;
    align-items: center;
  }
  .chart canvas {
    width: 90% !important;
    height: auto !important;
    background-color: white;
    border-radius: 20px;
    padding: 0.25cm;
  }
  .classement {
    width: 90%;
    min-height: max-content;
    display: flex;
    flex: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
  }
  .classement table {
    border-radius: 10px;
    padding: 0.25cm;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    min-width: 500px;
    border-collapse: separate !important;
    border-spacing: 0 10px;
    border: none !important;
    color: white;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }
  .classement table tbody tr {
    width: 100%;
    color: white;
    border: none !important;
    background-color: rgba(255, 255, 255, 0);
    height: 1cm;
  }
  .classement table tbody td {
    width: 200px !important;
    align-items: center;
    height: 100%;
  }
  .classement table tbody td canvas {
    align-self: center !important;
    width: auto;
    height: min-content;
  }
  .classement table tbody tr td {
    border-left: none;
  }
  .classement table tbody tr td:first-child {
    border-left: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .classement table tbody tr td:last-child {
    background-color: white;
    border-radius: 5px;
  }
}
@media screen and (min-width: 450px) and (max-width: 1200px) {
  #page {
    width: 80%;
    font-size: medium;
  }
  #page span {
    color: white;
    font-weight: lighter;
    font-size: medium;
    text-shadow: none;
  }
  .card {
    max-width: 30%;
    min-width: 30%;
    max-height: min-content;
    border-radius: 10px;
    min-height: 75px;
    background-color: #15c8ff;
    box-shadow: 1px 2px 4px rgb(87, 87, 87);
    flex-direction: column;
  }
  .card h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    color: #00113D;
    width: 100%;
    border-bottom: #00113D 1px solid;
  }
  .card p {
    font-family: "Quicksand", sans-serif;
    font-size: large;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=dash.css.map */
