@charset "UTF-8";
@font-face {
  font-family: "Quicksand";
  src: url("./../font/quicksand/quicksand-v31-latin-500.woff2") format("woff2"), url("./../font/quicksand/quicksand-v31-latin-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  height: 100%; /* Définit la hauteur à 100% pour html et body */
  margin: 0; /* Supprime les marges par défaut du body */
  padding: 0; /* Supprime les paddings par défaut */
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 8px; /* Ajuste la largeur pour un look plus fin */
  background-color: rgba(255, 255, 255, 0); /* Couleur du fond de la barre */
  border-radius: 10px; /* Arrondi les bords */
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #357ABD; /* Couleur au survol */
  border-radius: 10px; /* Effet arrondi */
}

body::-webkit-scrollbar-thumb:hover {
  background: #ffd500; /* Couleur de la barre de défilement */
}

body {
  overflow-y: auto;
  background-color: rgb(1, 12, 48);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25cm;
}
body header {
  height: 1.5cm;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 12, 48);
}
body header .logo {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25cm;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: small;
  color: white;
}
body header .logo #s_menu {
  display: none;
  left: 0cm;
}
body header .nav {
  padding-right: 0.5cm;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.1cm;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: small;
}
body header .nav .user {
  border-radius: 30px;
  padding: 0px 5px 0px 5px;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
}
body header .nav .user img {
  width: 1cm;
  height: 1cm;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(26, 234, 26);
}
body header .nav .user span:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
body header .nav #menu:hover, body header .nav #menu2:hover {
  transform: scale(1.2);
}
body header ul {
  min-width: min-content;
  max-width: 5cm;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0;
  padding: 0.1cm;
  list-style-type: none;
  position: fixed;
  right: 0cm;
  top: 1.5cm;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 12, 48);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
body header ul li {
  font-family: "quicksand", sans-serif;
  font-weight: bold;
  font-size: large;
  padding: 0 2cm 0 2cm;
  height: 1cm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
body header ul li:hover {
  background-color: #00113D;
  color: white;
  cursor: pointer;
}
body .body {
  height: calc(100% - 1.5cm);
  width: 98%;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25cm;
}
body .body .menu {
  opacity: 1;
  position: relative;
  display: flex !important;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9019607843);
  width: 250px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
body .body .menu .header-menu {
  width: 95%;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
body .body .menu .index-menu {
  width: 100%;
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: larger;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px rgb(1, 12, 48);
}
body .body .menu .index-menu span {
  align-self: flex-start;
  margin-left: 0.5cm;
  padding: 0.2cm;
}
body .body .menu .index-menu ul {
  list-style: none;
  align-items: center;
  width: 87%;
  background-color: rgb(1, 12, 48);
  text-align: left;
}
body .body .menu .index-menu ul li {
  font-weight: lighter;
  color: white !important;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
}
body .body .menu .index-menu ul li:hover {
  margin-left: -0.5264583333cm;
  color: rgb(1, 12, 48) !important;
  background-color: white;
}
body .body .menu .index-menu:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.401);
}
body .body .contains {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% - 250px);
  max-height: 100%;
  gap: 0.25cm;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
body .contains::-webkit-scrollbar {
  width: 8px; /* Ajuste la largeur pour un look plus fin */
  background-color: rgba(255, 255, 255, 0); /* Couleur du fond de la barre */
  border-radius: 10px; /* Arrondi les bords */
  height: 10px;
}
body .contains::-webkit-scrollbar-thumb {
  background: #357ABD; /* Couleur au survol */
  border-radius: 10px; /* Effet arrondi */
}
body .contains::-webkit-scrollbar-thumb:hover {
  background: #ffd500; /* Couleur de la barre de défilement */
}
@media screen and (min-width: 1200px) {
  body header .nav #menu {
    display: block;
    width: min-content;
    height: min-content;
  }
  body header .nav #menu2 {
    display: none;
    width: min-content;
    height: min-content;
  }
  body .body .menu {
    position: relative;
    display: flex !important;
    opacity: 1 !important;
  }
}
@media screen and (max-width: 450px) {
  body header {
    background-color: white;
    min-height: 1.3cm;
  }
  body header .logo {
    width: 80%;
    height: 90%;
    color: rgb(1, 12, 48);
    justify-content: flex-start;
  }
  body header .logo #s_menu {
    padding-right: 20%;
    margin-left: 5%;
    display: block;
  }
  body header .logo #s_menu:hover {
    transform: scale(1.2);
  }
  body header .nav {
    justify-content: space-between;
    width: 20%;
    max-height: 90%;
  }
  body header .nav .user span {
    display: none;
  }
  body header .nav #menu {
    display: none;
    width: min-content;
    height: min-content;
  }
  body header .nav #menu2 {
    display: block;
    width: min-content;
    height: min-content;
  }
  body header ul {
    top: 1cm;
    background-color: rgba(255, 255, 255, 0.9019607843);
  }
  body header ul li {
    padding: 0 0.5cm 0 0.5cm;
    font-weight: lighter;
    border-radius: 0px;
  }
  body .body .menu {
    opacity: 0;
    position: fixed;
    border-radius: 0;
    width: 75%;
  }
  body .body .contains {
    width: 100%;
    align-self: self-start;
  }
}
@media screen and (min-width: 450px) and (max-width: 1200px) {
  body header {
    background-color: rgba(255, 255, 255, 0.9019607843);
  }
  body header .logo {
    color: rgb(1, 12, 48);
  }
  body header .logo #s_menu {
    display: block;
  }
  body header .logo #s_menu:hover {
    transform: scale(1.2);
  }
  body header .nav .user span {
    display: none;
  }
  body header .nav #menu {
    display: none;
    width: min-content;
    height: min-content;
  }
  body header .nav #menu2 {
    display: block;
    width: min-content;
    height: min-content;
  }
  body .body .menu {
    opacity: 0;
    position: fixed;
  }
  body .body .contains {
    width: 100%;
  }
}

footer {
  display: block;
  width: 100%;
  min-height: 1.5cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
footer div {
  max-height: 80%;
  min-height: 60%;
  color: rgb(1, 12, 48);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px;
}
footer div p {
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
